<div class="navigation">
    <div class="logo">
      <a style="font-family: sans-serif;" class="no-underline" href="#"> INSTAGRAM
    <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <form method="get" action="/search">
    <div class="navigation-search-container">
      <i class="fa fa-search"></i>
      <input name="search" class="search-field" type="text" placeholder="Search">
      <div class="search-container">
        <div class="search-container-box">
          <div class="search-results">
  
          </div>
        </div>
      </div>
    </div>
    </form>
    {% if user.is_authenticated %}
    <div class="navigation-icons">
      
      <a class="navigation-link notifica">
        <i  class="fa fa-heart">Notifications
          <div class="notification-bubble-wrapper">
            <div class="notification-bubble">
              <span class="notifications-count">99</span>
            </div>
          </div>
        </i>
      </a>
      <a href="{% url 'profile' user.id  %}" class="navigation-link">
        <i class="fa fa-user-circle">Profile</i>
      </a>
      <a href="{% url 'update_profile' user.id  %}" class="navigation-link">
        <i class="fa fa-user-circle"> Update Profile</i>
      </a>
      <a href="/logout" id="signout" class="navigation-link">
        <i class="fa fa-sign-out"> Sign Out</i>
      </a>
    </div>
    {% else %}
    
      <a class='btn btn-default' href="/accounts/login">Login</a>
    

    {% endif %}
  </div>
  