{% extends 'base.html' %}
{% block content %}
{% for image in profiles %}
<div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <a href="/">
                    <div class="col-md-1"> <i style="font-size:xx-large; margin-right: 10%;" class="fa fa-arrow-left" aria-hidden="true"></i></div>
                    </a>
                    <div class="col-md-3">
                        <img class="rounded-circle account-img" src="{{ image.user.profile_picture.url }}" style="border-radius:50%; width: 50%;">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                            
                        </div>

                        <div class="post-details mt-3 mb-3">
                            <span class="mr-5"><strong>{{user_posts.count}}</strong> Posts</span>
                            <span class="mr-5"> <strong>{{ user_prof.profile.followers.count }}</strong> followers</span>
                            <span class="mr-5"> <strong>{{ user_prof.profile.following.count }}</strong> following</span>
                        </div>
                        <h5>{{ user.profile.name }}</h5>
                        <p class="text-secondary">{{ user.profile.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns">
        
        <div style="margin-top: 5%;" class="card">
                 
        
        
        <div class="card-body mb-4">
            <a href="#"><div class="card-text"
                 style="background-size: contain;position: sticky">
                <img src="{{image.image.url}}" class="card-img" width="50%"/>
                <h5>{{image.description}}</h5>
            </div></a>
        </div>
        <div class="iconic ml-2">
            <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                <a href="#"><i class="fa fa-heart hearticon mx-auto"
                                                          aria-hidden="true"></i></a>
            </button>
            <button class="btn btn-sm" type="submit"><a href="#"><i
                    class="fa fa-comment hearticon mx-auto" aria-hidden="true"></i>
            </a></button>
        </div>
        <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
        <span class="text-secondary ml-4 viewall"><a href="#">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
        <div class="allcomments mb-4">
            {% for comment in image.comments.all|slice:'2' %}
            <div class="comment">
                <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                        class="text-secondary">{{ comment.comment }}</span>
                </div>
            </div>
            {% empty %}
            {% endfor %}
            <p class="text-secondary ml-4">{{image.pub_date|timesince}} ago</p>
        </div>
    </div>
       
    </div>
</div>
{% endfor %}
{% endblock %}